<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>展示七牛的文件查看</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app">
    <div class="qiniu-container">
        <div class="qiniu-item">
            <img src="" alt="">
        </div>
    </div>
</div>

<script src="/static/apis/qiniu.js"></script>
<script src="/static/showQiniu/js/qiniu.js"></script>
<script src="/static/showQiniu/js/index.js"></script>
</body>

</html>